/*.header__wrapper {
      margin: auto;
}

.header-section {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: auto;
}

.header-text {
   padding: 3rem 0;
   margin-left: 1rem;
   margin-bottom: 3rem;
}

.header-bold {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.header-soft {
     font-size: .85rem;
}

.btn1 {
      background-color: #D00000;
      border: none;
      border-radius: 5px;
      padding: .55rem 1rem;     
      color: #fff;
      font-size: .85rem;
      font-weight: 600;
}

.header__number {
     display: flex;
     justify-content: space-around;
}

.number {
     font-size: 4rem;
     font-weight: 700;
}

.number-text {
   font-weight: 700;
   font-size: .85rem;
}

.plus {
     color: #D00000;
     font-size: 3.5rem;
     font-weight: 700;
}


.right--top--ring {
     width: 300px;
     height: 300px;
     border-radius: 240px;
     border: 40px solid #eee;
     padding: 1rem;
     background-color: transparent;
     position: relative;
     left: 26rem;
     top: -5rem;
     z-index: -1;
}

.left--bottom--ring {
     width: 300px;
     height: 300px;
     border-radius: 240px;
     border: 40px solid #eee;
     padding: 1rem;
     background-color: transparent;
     position: relative;
     top: 10rem;
     z-index: -1;
}


.image__box {
  width: 25vw;
 min-height: 65vh;

  margin-top: 3rem;
  margin-inline: auto;
  background-color: rgb(0 0 0 / 25%);
  border-radius: 15px;
  position: absolute;
  top: 3rem;
  right: 16rem;
}*/


/*----Main Section--------*/
/* .main__section {
  margin-top: 4.5rem;
  background-color: #e9ecef;
  padding: 2.2rem 2rem;
}


.main__flex {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.section-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
}

.col-one {
  padding: 1.5rem 2rem;
}

.main__title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-top: .85rem;
}

.main__p {
   text-align: center;
   padding: 0 3rem;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 150px;
    padding: 1rem;
    background-color: #dee2e6;
    color: rgb(0 0 0 / 25%);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin: auto;
}

.line1 {
     width: 300px;
     height: 1px;
     background-color: #D00000;
     position: absolute;
     bottom: 12px;
     left: 29.3%;
}

.arrow1 {
  color: #D00000;
  position: absolute;
  top: 820px;
  left: 46%;
}

.line2 {
  width: 300px;
  height: 1px;
  background-color: #D00000;
  position: absolute;
  bottom: 12px;
  left: 59.6%;
}

.arrow2 {
  color: #D00000;
  position: absolute;
  top: 820px;
  right: 23%;
} */


/*------------Section Design------*/
.section__title {
     text-transform: uppercase;
     text-align: center;
     font-weight: 700;
     margin-top: 12rem;
     font-size: 2rem;
}

.section__p {
     text-align: center;
     font-size: .85rem;
     font-weight: 500;
}

.section--flex {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.box {
      width: 30%;
      height: 30%;
      background: #e9ecef;
      margin: 1.3rem;
      padding: 2.5rem;
      border-radius: 15px;
}

.box:hover {
    cursor: pointer;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.round {
  width: 60px;
  height: 60px;
  border-radius: 150px;
  padding: 1rem;
  background: #dee2e6;
  margin-left: 8rem;
}

.subject {
     font-size: 1.2rem;
     margin-top: 1.5rem;
     margin-bottom: 0;
     font-weight: 700;
}

.box-p {
       color: #D00000;
       margin-top: .65rem;
       font-size: .95rem;
       font-weight: 700
}

.ball-toggle {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding: 2rem;
  background: #f9fafbf7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.angle-left {
     font-size: 1.5rem;
     position: absolute;
     bottom: -612px;
     left: 219px;
}

.angle-right {
    font-size: 1.5rem;
    position: absolute;
    bottom: -613px;
}

/*----------Job Design Section-------*/
.job-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    margin-top: 8rem;
}

.job-col {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     margin-top: 3rem;
     position: relative;
}

.left {
    width: 30vw;
    min-height: 63vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #e9ecef;
    margin-bottom: 150px;
    padding: 1.5rem;
}

.right {
   width: 60vw;
   min-height: 80vh;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
   background: #dee2e6;
}

.left-col {
     display: flex;
     justify-content: space-evenly;
     padding: 2rem;
}

.status2 {
    margin-right: 13rem;
}

.cards {
      position: absolute;
      top: 2029px;
      left: 367px;
}

.mini__cards {
     width: 25%;
     /* height: 30%; */
     background: #f9fafb;
     margin: 1.3rem;
     padding: 2rem;
     border-radius: 20px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top__cards, .bottom-cards {
     display: flex;
}

.logo-D {
      display: flex;
      align-items: center;
      
}

.small-circle {
     width: 20px;
     height: 20px;
     border-radius: 50px;
     padding: 1rem;
     background-color: #dee2e6;
}

.card-text-bold {
      font-size: 1rem;
      font-weight: 700;
      margin-left: 1.3rem;
}

.card-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 1.5rem;
}

.location {
     display: flex;
     align-items: flex-start;
     margin-left: 1rem;
}

.map-time {
      display: flex;
      justify-content: space-around;
      margin-left: 1.5rem;
}

.loc-logo {
       /* color: inverse; */
       margin-left: -60px;
       margin-top: 5px;
}

.card-L { 
      font-weight: 700;
      margin-left: auto;
}

.loc-p {
      font-size: .95rem;
      font-weight: 600;
      margin-right: 3rem;
}

.card-line {
     width: 280px;
     height: 1px;
     background: #dee2e6;
     margin-left: -26px;
     margin-right: 19px;
     margin-top: 1rem;
     margin-bottom: -14px;
}

.logo-sec {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: -20px;
}

.logo-flex {
        display: block;
        margin-top: 1rem;
}

.logo-p {
      color: #C2C2C2;
      font-weight: 700;
      font-size: .85rem;
}

.logo-h {
      font-weight: 700;
      font-size: .85rem;
      margin-bottom: 0;
}

.round-circle {
     width: 60px;
     height: 60px;
     border-radius: 50px;
     padding: 1rem;
     background-color: #dee2e6;
     margin-top: 2rem;
}


/*-----------Industry Design Section-----------*/
.inds--section {
       background: #F8F9FA;
       margin-top: 19rem;
       padding: 2.5rem 0;
}

.inds-title {
       font-size: 1.7rem;
       text-align: center;
       font-weight: 700;
}

.inds-red {
     color: #D00000;
}

.indus--p {
      text-align: center;
      font-weight: 500;
      font-size: .85rem;
}

.inds_mini_box {
     width: 25vw;
     height: 45vh;
     background: #e9ecef;
     margin: 1.3rem;
     padding: 2.5rem;
     border-radius: 20px;
}

.mini--text {
       display: flex;
       flex-direction: column;
       margin-top: 9.5rem;
}

.mini__title {
     font-size: 1.5rem;
     font-weight: 700;
}

.mini__p {
       font-size: .85rem;
       font-weight: 400;
       line-height: 1;
       margin-top: 1rem;
       color: #e9ecef;
}

.inds_mini_box:hover {
       color: #000;
       background-color: #f9fafb;
       cursor: pointer;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.mini__p:hover {
       color: #000;
}



/*--------------Talent Pipe Line Design Section-----------*/
.talent {
      background-color: #F8F9FA;
      margin-top: 15rem;
      border-radius: 20px;
      padding: 4.5rem 0;
      /* position: relative; */
}

.top-half-pipe {
       width: 20vw;
       height: 20vh;
       padding: 1rem;
       background-color: #dee2e6;
       border-top-left-radius: 60px;
       border-bottom-left-radius: 60px;
       margin-bottom: 250px;
       transform: rotate(270deg);
       position: relative;
       top: 14px;
       left: -6px;


}

.bottom-half-pipe {
     width: 20vw;
     height: 20vh;
     padding: 1rem;
     background-color: #dee2e6;
     margin-bottom: -10px;
     border-top-left-radius: 60px;
     border-bottom-left-radius: 60px;
     transform: rotate(90deg);
     position: relative;
     bottom: 27px;
     left: 180px;
}

.talent--flex {
       display: flex;
       justify-content: space-around;
       align-items: center;
       position: absolute;
       top: 253rem;
       left: 18rem;

}

.rectangle {
       width: 23vw;
       height: 70vh;
       background-color: #C2C2C2;
       padding: 1.5rem;
       border-radius: 10px;
       opacity: .50;
       margin-top: 3rem;
}

.right--div {
       margin-left: 14rem;
       /* margin-bottom: 10px; */
}

.rec---flex {
      display: flex;
      align-items: center;
      width: 32vw;
      height: 4.5vw;
      background-color: #ddd;
      border-radius: 30px;
      margin-top: 1.5rem;
}

.check--circle {
     width: 55px;
     height: 55px;
     border-radius: 50px;
     padding: 1rem;
     background-color: #CED4DA;
     margin-left: 1.5rem;
}

.circle--p {
      font-weight: 500;
      margin-top: 1rem;
      margin-left: 2rem;     
}

.talent--title {
      font-weight: 700;
      font-size: 2rem;
}

.talent--red {
      color: #D00000;
}



/*-------------------Success Stories Design----------------*/
.success {
      margin-top: 10rem;
}

.success--title {
       font-size: 1.5rem;
       font-weight: 700;
       text-align: center;
}

.success--p {
       font-size: .85rem;
       font-weight: 600;
       text-align: center;
       padding: .85rem;
}

.success--flex {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
}

.success--box {
     width: 25vw;
     height: 45vh;
     background: #eee;
     margin: 1.3rem;
     padding: 3rem;
     border-radius: 20px; 
}

.success--circle {
     width: 90px;
     height: 90px;
     border-radius: 50px;
     padding: 1rem;
     background-color: #CED4DA;
     margin: auto;
}

.success--H {
      text-align: center;
      color: #D00000;
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 1.5rem;
}

.succ--p {
       font-size: .85rem;
       font-weight: 600;
       text-align: center;
       margin-top: .85rem;
}



/*-----------Network Design Section--------------*/
.network--section {
        margin-top: 15rem;
        display: flex;

}

.thin--red--cirlce {
     width: 500px;
     height: 500px;
     border-radius: 240px;
     border: 2px solid #D00000;
     padding: 1rem;
     background-color: transparent;
     position: relative;
}

.full--grey--circle {
     width: 470px;
     height: 470px;
     border-radius: 240px;
     padding: 1rem;
     background-color: #eee;
     position: absolute;
     top: 357rem;
     left: 13.5rem;
}

.right--title {
       font-size: 1.5rem;
       font-weight: 700;
}

.right--red {
      color: #D00000;
}

.right--p {
      font-size: .85rem;
      font-weight: 500;
}

.form-group {
       display: flex;
       flex-direction: column;
       margin: 1rem 0;
}

label {
     font-size: .85rem;
     font-weight: 600;  
     margin-bottom: 10px;

}

input {
     width: 400px;
     padding: 0.80rem;
     background: #eee;
     border: none;
}

.asteric {
       color: #D00000;
       font-size: .55rem;
       margin-left: 3px;
       margin-bottom: 7px;
}

.btn-red {
     background-color: #D00000;
     color: #fff;
     padding: .80rem;
     font-size: .85rem;
     width: 100px;
     border-radius: 10px;
     border: none;
}